<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/home-two"><img src="assets/img/logo.png" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

            <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>

            <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>

            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="faq">FAQs</a></li>

            <!-- <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li> -->

            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
        </ul>
    </div>

    <div class="side-nav">
        <!-- <a class="side-nav-left" routerLink="/">Sign In</a> -->
        <!-- <a class="side-nav-right cd-signup" routerLink="/"><i class='bx bx-link-external'></i>Sign Up</a> -->
    </div>
</nav>
<div class="two-banner-wrap">
    <div class="two-banner-slider owl-theme owl-carousel">
        <div class="two-banner-area two-banner-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-content">
                            
                            <h1>Helping you afford your Dream Home</h1>
                            <span>
                               Superior Service, Faster Closings
                            </span>
                            <div class="banner-btn">
                                <!-- <a class="cmn-banner-btn" routerLink="/"><i class='bx bx-note'></i> Apply Now</a>
                                <a class="banner-right-btn" routerLink="/"><i class='bx bx-calculator'></i> Calculator</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="banner-time-left">
                    <ul>
                        <li>
                            <i class='bx bx-globe'></i>
                            <span>00-00 Lorem ipsum</span>
                            <p>Lorem Ipsum 000</p>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <span>(00 hours / 0 days)</span>
                            <a href="tel:00000000000">0000 000 0000</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 p-0">
                <div class="banner-time-right">
                    <ul>
                        <li>
                            <i class='bx bx-timer'></i>
                            <span>Lorem-Ipsum (00am - 00pm)</span>
                            <p>Lorem-Ipsum (00am - 00pm)</p>
                        </li>
                        <li>
                            <i class='bx bxs-contact'></i>
                            <span>Contact us </span>
                            <a href="mailto:hello@domain.com">hello@domain.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="two-mission-area pt-100">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">GET INTRODUCED</span>
            <h2>Our Mission Is To Become The Best Mortgage</h2>
            <p>
                JD Lending Group Inc. offers a wide range of mortgage options to meet your financial needs and circustances. Whether you're a first-time homebuyer, buying a second home, or interested in refinancing your mortgage, we're here to guide you through the process.
            </p>
        </div>
        
        <div class="mission-content">
            <img src="assets/img/home-two/mission.jpg" alt="Mission">

            <div class="mission-bottom">
                <ul class="align-items-center">
                    <li>
                        <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup-youtube">
                            <i class='bx bx-play' ></i>
                        </a>
                        <p>Intro With Compnay</p>
                    </li>
                    <li>
                        <div class="mission-item">
                            <i class='bx bxs-user'></i>
                            <span>Lorem ipsum dummy</span>
                        </div>
                    </li>
                    <li>
                        <div class="mission-item">
                            <i class='bx bx-certification'></i>
                            <span>Lorem ipsum dummy</span>
                        </div>
                    </li>
                    <li>
                        <div class="mission-item">
                            <i class='bx bxs-hand-right'></i>
                            <span>Lorem ipsum dummy</span>
                        </div>
                    </li>
                    <li>
                        <div class="mission-item">
                            <i class='bx bxs-home-circle'></i>
                            <span>Lorem ipsum dummy</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="one-counter-area two-counter-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>20</h3>
                    <p>YEARS OF EXPERIENCE</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>98</h3>
                    <p>VOLUNTEERS PARTICIPATED</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>56</h3>
                    <p>VETERAN HOMES COMPLETED</p>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                    <h3>90</h3>
                    <p>CUSTOMER WORLDWIDE</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="one-among-area two-among-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">WHY CHOOSE US</span>
            <h2>We Have Offer To You</h2>
            <p>Choose started sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore adipiscing elit sed do eiusr adipiscing elitatur  liqua  </p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among1.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bxs-badge-dollar'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among2.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-bulb'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among3.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-money'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among4.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-user'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among5.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-message-alt-detail'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="among-item">
                    <div class="among-top">
                        <img src="assets/img/home-two/among6.png" alt="Among">
                        <div class="among-icon">
                            <i class='bx bx-home'></i>
                        </div>
                    </div>

                    <div class="among-bottom">
                        <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                        <a routerLink="/">READ MORE <i class="bx bx-right-arrow-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<div class="two-house-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="house-item">
                    <div class="house-icon">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                    <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                    <a routerLink="/">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="house-item">
                    <div class="house-icon">
                        <i class='bx bx-shopping-bag'></i>
                    </div>
                    <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                    <a routerLink="/">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="house-item">
                    <div class="house-icon">
                        <i class='bx bx-note'></i>
                    </div>
                    <h3>Vivamus vitae orci facilisis turpis dignissim convallis</h3>
                        <p>Ut viverra sodales vestibulum. Mauris egestas dolor sit amet purus dignissim fringilla </p>
                    <a routerLink="/">READ MORE <i class='bx bx-right-arrow-alt'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="services" class="one-service-area two-service-area ptb-100">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">WHAT’S THE BEST</span>
            <h2>Mortgage Programs</h2>
            <p>Experinces started sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore adipiscing elit sed do eiusr adipiscing elitatur  liqua</p>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-default active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <div class="service-item">
                        <i class='bx bxs-building-house'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-dollar-circle'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>
                
                <a class="nav-item nav-default" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-home-circle'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-x-tab" data-bs-toggle="tab" href="#nav-x" role="tab" aria-controls="nav-x" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-hand-up'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-y-tab" data-bs-toggle="tab" href="#nav-y" role="tab" aria-controls="nav-y" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-wrench'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>

                <a class="nav-item nav-default" id="nav-z-tab" data-bs-toggle="tab" href="#nav-z" role="tab" aria-controls="nav-z" aria-selected="false">
                    <div class="service-item">
                        <i class='bx bxs-user-circle'></i>
                        <span>Sed ac lectus euismod</span>
                    </div>
                </a>
            </div>
        </nav>
            
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/faheemziaimg.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/advisor2.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/advisor3.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-x" role="tabpanel" aria-labelledby="nav-x-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/advisor4.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-y" role="tabpanel" aria-labelledby="nav-y-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/advisor5.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-z" role="tabpanel" aria-labelledby="nav-z-tab">
                <div class="service-advisor">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="advisor-img">
                                <img src="assets/img/home-two/advisor6.jpg" alt="Advisor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="advisor-content">
                                <h2>Sed ac lectus euismod</h2>
                                <p>Morbi dictum quis lacus vel egestas. Aliquam erat volutpat. Aliquam id viverra nulla. Nam placerat ex vitae dui consequat vulputate</p>
                                <ul>
                                    <li><i class='bx bxs-chevrons-right'></i> Mauris efficitur, urna id fermentum tempus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Emagna justo aliquam mi, vel pretium lacus</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Sed tellus arcu, dictum a dapibus sit amet</li>
                                    <li><i class='bx bxs-chevrons-right'></i> Aliquam fermentum laoreet molestie</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div class="two-address-area pt-100">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">GET ADDRESS</span>
            <h2>Here Is Our Roadmap</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="address-item">
                    <img src="assets/img/home-two/address1.jpg" alt="Address">
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxs-home'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bx-street-view'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxs-graduation'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxs-folder-open'></i></a></li>
                    </ul>
                    <h3>You’re In Right Place!</h3>
                    <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="address-item">
                    <img src="assets/img/home-two/address2.jpg" alt="Address">
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxs-home'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bx-street-view'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxs-graduation'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxs-folder-open'></i></a></li>
                    </ul>
                    <h3>You Can See The Map</h3>
                    <p>Our plan dolor sit amet conseetur diisci velit sed quiLorem ipsum dolor sit ame consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
    </div>

    <div class="one-quote-area">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-6 p-0">
                    <div class="quote-content">
                        <h3>Get Mortgage Quote</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eltsed do eiusmod tempor incididunt ut labore et dolore </p>
                        <a routerLink="/"><i class='bx bxs-quote-alt-right'></i>Get A Quote</a>
                    </div>
                </div>

                <div class="col-lg-6 p-0">
                    <div class="quote-img">
                        <img src="assets/img/home-two/quote.jpg" alt="Quote">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<div id="team" class="one-team-area two-team-area pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">OUR TEAM</span>
            <h2>Our Staff Profiles</h2>
            <!-- <a routerLink="/"><i class='bx bx-plus'></i> JOIN TEAM</a> -->
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/home-two/team1.png" alt="Team">
                    </div>
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                    <h3>David Driscoll</h3>
                    <span>Manager</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/home-two/team2.png" alt="Team">
                    </div>
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                    <h3>Andon wardin</h3>
                    <span>Loan Officer</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/home-two/team3.png" alt="Team">
                    </div>
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                    <h3>Mark morrell</h3>
                    <span>Area Manager</span>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/home-two/team4.png" alt="Team">
                    </div>
                    <ul>
                        <li><a target="_blank" href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-twitter'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-instagram'></i></a></li>
                        <li><a target="_blank" href="#"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                    <h3>JUBIN INDONA</h3>
                    <span>Accountant</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="one-help-area two-help-area">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-7 p-0">
                <div class="help-item">
                    <div class="one-section-title">
                        <span class="sub-title">FUN FACT</span>
                        <h2>There Is Some Fact That You Know</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>

                    <ul>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-brain'></i>
                            </div>
                            <div class="help-inner">
                                <h3>Loan Officer Assistant do?</h3>
                                <p>When you own your own homet seeturlit sed dolor sit am</p>
                            </div>
                        </li>
                        <li>
                            <div class="help-icon">
                                <i class='bx bx-home-alt'></i>
                            </div>
                            <div class="help-inner">
                                <h3>RMS is Working Harder </h3>
                                <p>You can grow in your new homeit amet seeturlit sed dolor sit </p>
                            </div>
                        </li>
                    </ul>

                    <div class="advisor-link">
                        <a routerLink="/">KNOWLEDGE CENTER</a><i class="bx bx-right-arrow-alt"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 p-0">
                <div class="help-img-two">
                    <img src="assets/img/home-two/fun.jpg" alt="Fun">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="two-lover-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">COUSTOMER FEEDBACKS</span>
            <h2>What People Say</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="lover-item">
                    <ul class="align-items-center">
                        <li>
                            <div class="lover-img">
                                <img src="assets/img/home-two/lover1.png" alt="Lover">
                                <i class='bx bxs-quote-alt-left'></i>
                            </div>
                        </li>
                        <li>
                            <div class="lover-content">
                                <h3>Donney Jon</h3>
                                <span>Perisian Org</span>
                                <p>I had ipsum dolor sit a consetusicing elit sed do eiusmod mpor nnim ad mini eiusmod nnim </p>
                                <ul>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="lover-item">
                    <ul class="align-items-center">
                        <li>
                            <div class="lover-img">
                                <img src="assets/img/home-two/lover2.png" alt="Lover">
                                <i class='bx bxs-quote-alt-left'></i>
                            </div>
                        </li>
                        <li>
                            <div class="lover-content">
                                <h3>Oli Rubion</h3>
                                <span>Entoin Ect</span>
                                <p>Realy ipsum dolor sit a consetusicing elit sed do eiusmod mpor nnim ad mini eiusmod nnim </p>
                                <ul>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                    <li><i class='bx bxs-star checked'></i></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<div class="one-faq-area two-faq-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="faq-img-two">
                    <img src="assets/img/home-two/faq.jpg" alt="FAQ">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="faq-content">
                    <ul class="accordion">
                        <li>
                            <a>Aed do eiusmod tempor incididunt ut labore?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>Aed do eiusmod tempor incididunt ut labore et?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>Aed do eiusmod tempor incididunt ut?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                        <li>
                            <a>Aed do eiusmod tempor incididunt ut labore et?</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--
<div id="blog" class="one-blog-area two-blog-area pt-100 pb-70">
    <div class="container">
        <div class="one-section-title">
            <span class="sub-title">NEWS & BLOG</span>
            <h2>Featured News And Insights</h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/"><img src="assets/img/home-two/blog1.jpg" alt="Blog"></a>
                        <span>Mortgage</span>
                    </div>

                    <div class="blog-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-time-five'></i>
                                09 April 2020
                            </li>
                            <li>
                                <i class='bx bx-comment-detail'></i>
                                0 Comment
                            </li>
                        </ul>
                        <h3><a routerLink="/">What Means Your Mortgage And 5 Ways To Improve</a></h3>
                        <img src="assets/img/home-two/blog1.png" alt="Blog">
                        <p><a routerLink="/">Zain jonson</a>, Author</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/"><img src="assets/img/home-two/blog2.jpg" alt="Blog"></a>
                        <span>Mortgage</span>
                    </div>

                    <div class="blog-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-time-five'></i>
                                10 April 2020
                            </li>
                            <li>
                                <i class='bx bx-comment-detail'></i>
                                0 Comment
                            </li>
                        </ul>
                        <h3><a routerLink="/">8 Ways To Make Your Home A Smart Home</a></h3>
                        <img src="assets/img/home-two/blog2.png" alt="Blog">
                        <p><a routerLink="/">Movin Jex</a>, Author</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="blog-item">
                    <div class="blog-top">
                        <a routerLink="/"><img src="assets/img/home-two/blog3.jpg" alt="Blog"></a>
                        <span>Mortgage</span>
                    </div>

                    <div class="blog-bottom">
                        <ul>
                            <li>
                                <i class='bx bx-time-five'></i>
                                11 April 2020
                            </li>
                            <li>
                                <i class='bx bx-comment-detail'></i>
                                0 Comment
                            </li>
                        </ul>
                        <h3><a routerLink="/">5 Ways To build Yourself By Hard Working</a></h3>
                        <img src="assets/img/home-two/blog3.png" alt="Blog">
                        <p><a routerLink="/">Jems</a>, Author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<section class="one-subscribe-area two-subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h2>Do you want to get update what’s upcoming?</h2>
                </div>
                <div class="col-lg-6">
                    <form class="newsletter-form" data-bs-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                        <button class="btn subscribe-btn" type="submit">Subscribe now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 
<div class="one-search-area ptb-100">
    <div class="container">
        <div class="search-wrap">
            <div class="search-content">
                <div class="one-section-title">
                    <span class="sub-title">SERCH YOUR ONE</span>
                    <h2>Find A Loan Officer</h2>
                </div>
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Real Estate Agents
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Loan Officer
                        </label>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>License State</option>
                                    <option>Another option</option>
                                    <option>A option</option>
                                    <option>Potato</option>
                                </select>	
                            </div>
                        </div>
                    </div>

                    <div class="search-link">
                        <button type="submit">Search Your Result</button>
                    </div>
                </form>
            </div>

            <div class="search-img">
                <img src="assets/img/home-two/search-man.png" alt="Search">
            </div>
        </div>
    </div>
</div> -->

<footer class="one-footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo-two.png" alt="Logo"></a>
                        <p>Vivamus vitae orci, Inc. 000 Vivamus vitae orci,  dignissim convallis, NY 00000</p>
                        <p>Vivamus vitae orci. 000 Vivamus vitae orci</p>
                        <ul>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>Quick Links</h3>

                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-1">
                <div class="footer-item">
                    <div class="footer-quick">
                        <!-- <h3>About Us</h3>

                        <ul>
                            <li><a routerLink="/">Down Payment Options</a></li>
                            <li><a routerLink="/">Your Mortgage Payment</a></li>
                            <li><a routerLink="/">Appraisal Basics</a></li>
                            <li><a routerLink="/">Contact</a></li>
                            <li><a routerLink="/">Careers</a></li>
                            <li><a routerLink="/">Privacy Policy</a></li>
                            <li><a routerLink="/">Privacy Choices</a></li>
                            <li><a routerLink="/">Licencing</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-address">
                        <h3>Contact</h3>

                        <ul>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+4498886660000">+000 000 000 0000</a>
                            </li>
                            <li>
                                <i class='bx bx-message-square-detail'></i>
                                <a href="mailto:hello@domain.com">hello@domain.com</a>
                            </li>
                            <li>
                                <i class='bx bx-current-location' ></i>
                                000 Lorem, ipsum dummy text US
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/visa.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/master-card.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/paypal.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/skrill.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/master-card2.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/visa2.jpg" alt="Method"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>Copyright @2022 Future Mortgage Group. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>