<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="/home-two"><img src="assets/img/logo.png" alt="Logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>

            <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>

            <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>

            <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="faq">FAQs</a></li>

            <!-- <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li> -->

            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
        </ul>
    </div>

    <div class="side-nav">
        <!-- <a class="side-nav-left" routerLink="/">Sign In</a> -->
        <!-- <a class="side-nav-right cd-signup" routerLink="/"><i class='bx bx-link-external'></i>Sign Up</a> -->
    </div>
</nav>
<div id="contact" class="one-contact-area two-contact-area ptb-100">
    <div class="container">
        <div class="contact-content">
            <div class="one-section-title">
                <span class="sub-title">LET’S CONTACT</span>
                <h2>Contact With Us</h2>
            </div>

            <form id="contactForm">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label><i class='bx bx-user'></i></label>
                            <input type="text" name="name" id="name" class="form-control" required placeholder="Name">
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label><i class='bx bx-mail-send'></i></label>
                            <input type="email" name="email" id="email" class="form-control" required placeholder="Email">
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label><i class='bx bx-phone-call'></i></label>
                            <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Phone">
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>
                                <i class='bx bxs-edit-alt'></i>
                            </label>
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Subject">
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label><i class='bx bx-message-square-detail'></i></label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" required placeholder="Message"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <div class="row m-0">
                            <div class="col-sm-4 col-lg-4 pl-0">
                                <button type="submit" class="contact-btn btn"><i class='bx bx-plus'></i> Send Message</button>
                            </div>

                            <div class="col-sm-8 col-lg-8">
                                <div class="contact-emergency">
                                    <i class='bx bx-phone-call'></i>
                                    <span>Emergency Contact</span>
                                    <a href="tel:+00000000000">+000 000 00000</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<footer class="one-footer-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo-two.png" alt="Logo"></a>
                        <p>Vivamus vitae orci, Inc. 000 Vivamus vitae orci,  dignissim convallis, NY 00000</p>
                        <p>Vivamus vitae orci. 000 Vivamus vitae orci</p>
                        <ul>
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>Quick Links</h3>

                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-1">
                <div class="footer-item">
                    <div class="footer-quick">
                        <!-- <h3>About Us</h3>

                        <ul>
                            <li><a routerLink="/">Down Payment Options</a></li>
                            <li><a routerLink="/">Your Mortgage Payment</a></li>
                            <li><a routerLink="/">Appraisal Basics</a></li>
                            <li><a routerLink="/">Contact</a></li>
                            <li><a routerLink="/">Careers</a></li>
                            <li><a routerLink="/">Privacy Policy</a></li>
                            <li><a routerLink="/">Privacy Choices</a></li>
                            <li><a routerLink="/">Licencing</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-address">
                        <h3>Contact</h3>

                        <ul>
                            <li>
                                <i class='bx bx-phone-call'></i>
                                <a href="tel:+4498886660000">+000 000 000 0000</a>
                            </li>
                            <li>
                                <i class='bx bx-message-square-detail'></i>
                                <a href="mailto:hello@domain.com">hello@domain.com</a>
                            </li>
                            <li>
                                <i class='bx bx-current-location' ></i>
                                000 Lorem, ipsum dummy text US
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="copyright-item">
                        <ul>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/visa.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/master-card.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/paypal.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/skrill.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/master-card2.jpg" alt="Method"></a></li>
                            <li><a href="#" target="_blank"><img src="assets/img/home-two/visa2.jpg" alt="Method"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="copyright-item">
                        <p>Copyright @2022 Future Mortgage Group. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>